.taskCard {
    background: #EFEDEC !important;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #744129;
    transition: background-color 1s ease;
    width: 100%;
    box-sizing: border-box;
}

.taskList:hover {
    background-color: rgba(180, 157, 133, 0.2);
}

.taskText {
    color: #242115;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    white-space: wrap;
    overflow: hidden;
    max-width: 100%;
}

.completed {
    text-decoration: line-through;
    color: #BA6B2A;
}

@media (max-width: 600px) {
    .taskCard {
        padding: 15px;
        margin: 10px;
    }

    .taskContainer {
        gap: 12px;
    }

    .taskList {
        padding: 8px;
        font-size: 14px;
    }

    .taskText {
        font-size: 16px;
        max-width: 100%;
    }

    .completed {
        font-size: 16px;
    }
}
